.wrapper{
  background-color: #e9ecef;
  padding: 15px 0;
}
.turn > div {
  height: auto;
}
.button{
  padding: 25px 0 0 !important;
}
button a{
  text-decoration: none;
  color: #fff;
}
button a:hover{
  color:#fff;
  text-decoration: none;
}
.turn { 
  padding-top: 20px;
  padding-bottom: 20px;
}

.authorimage {
  max-height: 100%;
  width: 100%;
}

.answer {
  background-color: #F0F7FD;
  border-color: #D0E3F0;
  margin-bottom: 20px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #D0E3F0;
  cursor: pointer;
}

h1{
  font-size: 18px !important;
}
.answer:hover {
  background-color: #D0E3F0;
}
img{
  width: 100%;
  height: 300px;
}
